GATSBY_PRISMIC_REPO_NAME="heynova-starter"
PRISMIC_CUSTOM_TYPES_API_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoibWFjaGluZTJtYWNoaW5lIiwiZGJpZCI6ImhleW5vdmEtc3RhcnRlci0zY2UyZTVmMi1hY2Q3LTQ5MTktYTkwZi1jN2NhZmZhOTE1YThfNCIsImRhdGUiOjE2NTcyNTE0MjUsImRvbWFpbiI6ImhleW5vdmEtc3RhcnRlciIsImlhdCI6MTY1NzI1MTQyNX0.7353NfdukKUWLzUk8rN2HaYGyYCXq6q-QlPPo56bcws"