@import '../base/module';
.bannerWrap{
    width: calc(100% + 40px);
    aspect-ratio: 7/2;
    margin: 0 -20px 95px;
    position: relative;
    overflow: hidden;

    .image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: calc(100%);
        height: 100%;
    }
}
.Content {

    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        gap:80px;
    }
}
.Box {
    width: 100%;
}
.ProductGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 60px;
    width: 100%;
}
.productCard {
    max-width: 405px;
    margin-bottom: 20px;
}
.imageBox {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio:5/4;
    overflow: hidden;
    border: 1px solid rgba(#061D1B, 0.4);
    background: white;
    margin-bottom: 12px;
    .image {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: contain;
        width: 100%;
        img {
            max-height: 300px;
        }
    }
}
.title {
    width: 100%;
}
.itemTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
}
.price {
    color: $color-black;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
}
.Filter {
   
    width: 266px;
    margin-bottom: 20px;

    details > summary {
        list-style: none;
    }
    details > summary::-webkit-details-marker {
        display: none;
    }
}
.value {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.filterItem {
    border-bottom: 1px solid rgba($color-black, 0.4);
    padding: 16px 0;
}
.filterTitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    
    display: flex;
    justify-content: space-between;
    
}

.Filter details summary::after {
    content: "+";
}
.Filter details[open] summary:after {
    content: "-";
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 10px;
}
.search {
    flex: 1 1 200px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.search label {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
.search input {
    background: rgba(40, 112, 111, 0.17);
    border-radius: 25px;
    flex: 1 1 100px;
    max-width: 600px;
    padding:10px 10px;
}

.sort label, .sort select, .sort option {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
.sort {
    display: flex;
    gap: 10px;
    align-items: center;
}
.sort select {
    border: 1px solid $color-black;
    border-radius: 2px;
    background: transparent;
    padding: 10px;
}
