@import '../../base/module';

.ProjectHero {
  padding-top: 3.75rem;
  padding-bottom: 0;
  background-color: $color-dove;
}

.Content {
  max-width: 1200px;
  margin: 0 auto;
}
.copyWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 920px;

  .tag {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75em;
    text-transform: uppercase;
    font-family: $font-secondary;
    letter-spacing: 0.13em;
  }
  h2 {
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 16px;
  }
}

.ProjectHero::before {
  position: absolute;
  height: 400px;
  aspect-ratio: 1/1;
  margin-left: 100%;
  right: 50px;
  top: 700px;
  transform: translateX(60%);
  border-radius: 50%;
  border: 40px solid $color-grey;
  outline: 40px solid $color-cream;
  background: $color-cream;
  content: '';
  z-index: -1;
}
