@import '../../base/module';

.ProjectHero {
  padding-top: 3.75rem;
  padding-bottom: 0;
  background-color: $color-dove;
}

.Content {
  max-width: 1200px;
  margin: 0 auto;
}
.copyWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .tag {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.75em;
    text-transform: uppercase;
    font-family: $font-secondary;
    letter-spacing: 0.13em;
  }
}
