@import '../../base/module';

.ProductMap {
    position: relative;
    border-radius: $bradius;
    height: max-content;
    width: max-content;
}
.product {
    position: absolute;
    transform: translate(-50%, 50%);
    background: $color-rustorange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

    cursor: pointer;
    svg {
        color: white;
        font-size: 28px;
    }
}
