@import '../../base/module';

.FlexWrap {
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}
.copyWrap {
    max-width: 600px;
    flex: 3 1 400px;

    h2 {
        margin-bottom: 20px;
    }
}
.imageWrap {
    max-width: 800px;
    .image {
        border-radius: 5px;
    }
}