@import '../../base/module';
.AwardsGallery {
  padding-top: 0;
}
.awardRow {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.imageWrap {
  width: 495px;
  max-width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  border-radius: $bradius;
  border: 1px solid rgba($color-black, 0.3);
  background: $color-white;

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}

.AwardsGallery:before {
  position: absolute;
  height: 580px;
  aspect-ratio: 1/1;
  right: 0;
  top: 250px;
  transform: translateX(60%);
  border-radius: 50%;

  border: 40px solid $color-grey;
  outline: 40px solid $color-cream;
  box-sizing: content-box;
  background: $color-cream;
  content: '';
  z-index: -5;
}
