@import '../../base/module';
.AwardsGallery {
  padding-top: 0;
}
.awardRow {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.imageWrap {
  width: 100%;
  max-width: 495px;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  border-radius: $bradius;
  border: 1px solid rgba($color-black, 0.3);
  background: $color-white;

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}
