@import '../../base/module';

.CenteredText {
  padding: 0;
  overflow: hidden;

  @media (min-width: $desktop) {
    overflow: initial;
  }
}

.centerWrap {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 0;
  display: flex;
flex-direction: column;
  align-items: center;
  gap: 36px;
  text-align: center;
}

.center-container {
  padding-top: 50px;
  padding-bottom: 30px;
  min-height: 500px;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    height: 580px;
    aspect-ratio: 1/1;
    right: -250px;
    top: 100px;
    border-radius: 99em;
    border: 40px solid $color-grey;
    outline: 40px solid $color-cream;
    background: $color-cream;
    content: '';
    z-index: -1;
  }

  @media (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
