@import '../../base/module';
.ColumnCallout {
  .copyWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.75rem;
    font-family: $font-header;
    font-weight: 400;
    margin-bottom: 15px;
    @media (min-width: $tablet) {
      margin-bottom: 30px;
    }

    .subtitle {
      font-size: 1.5rem;
      font-family: $font-secondary;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.13em;
    }
  }

  .columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 45px;

    @media (min-width: $mobile) {
      flex-direction: row;
      gap: 15px;
    }

    .imageWrap {
      width: 100%;
      aspect-ratio: 1/1;
      position: relative;
      overflow: hidden;
      background: $color-sagelt;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      @media (min-width: $tablet) {
        padding: 25px;
        width: 100%;
      }
    }

    .image {
      width: 100%;
      height: 100%;
      border-radius: 99em;
      display: block;
      margin: 0 auto;
      border: 10px solid $color-white;
      @media (min-width: $tablet) {
        max-width: 400px;
        max-height: 400px;
      }
    }

    .columnContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 0;
      gap: 25px;
      @media (min-width: $tablet) {
        gap: 40px;
      }
    }
  }

  .itemText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    @media (min-width: $tablet) {
      padding: 0 15px;
    }

    .itemTitle {
      font-family: $font-secondary;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.13em;
      margin-bottom: 10px;
    }
  }
}
