@import '../../base/module';
.ColumnCallout {
  .copyWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    font-family: $font-header;
    font-weight: 400;

    .subtitle {
      font-size: 1.5rem;
      font-family: $font-secondary;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
