@import '../../base/module';
.FacultyGrid {
  position: relative;
  padding-top: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  column-gap: 30px;
  row-gap: 30px; // if gap between cards too big on mobile when styling mobile its this*****

  @media (min-width: $tablet) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.gridHead {
  margin-bottom: 60px;
  text-align: center;
  background-color: $color-sage;
  padding: 70px 60px 200px 60px;
}
.name {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.employeeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  .imageWrap {
    padding: 25px;
    background-color: $color-sage; // currently just sage so I can see it easier the other colors are similar
    margin-bottom: 20px;
  }
  .image {
    width: 100%; // currently set to parent but might need to fix to image size (had it at 300px ***)
    position: relative;
    margin-bottom: 20px;
  }
}

.viewWorkButton {
  width: 296px;
  height: 65px;
  padding: 11px 15px;
  background: #f68623;
  font-family: $font-secondary;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  line-height: 108%;
  letter-spacing: 0.125em;
  display: block;
  margin: 0 auto;
}
