@import '../../base/module';

.GridHero {
  padding-top: 0;
  margin-top: 0;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'text1 image1'
      'image2 text2';
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'image1'
        'text1'
        'image2'
        'text2';
    }
    .text1 {
      grid-area: text1;
    }
    .text2 {
      grid-area: text2;
    }
    .image1 {
      grid-area: image1;
    }
    .image2 {
      grid-area: image2;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    background-color: $color-dove;
    p {
      font-family: $font-secondary;
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 0.13em;
    }
    h2 {
      font-weight: 400;
    }
  }
}
