@import '../../base/module';

.heroBanner {
  position: relative;
  padding: 0;
}

.heroContainer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-height: 400px;
  min-height: 300px;
  @media (min-width: $desktop) {
    padding: 50px;
    height: 65vh;
    max-height: 600px;
  }
}

.homeHero {
  height: 50vh;
  max-height: 500px;
  @media (min-width: $desktop) {
    height: 90vh;
    max-height: 800px;
  }
}

.heroImage {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-black;
    z-index: 1;
    opacity: 40%;
  }
}

.logoWrap,
.copyWrap {
  position: relative;
  z-index: 10;
}

.logoWrap {
  max-width: 250px;

  @media (min-width: $desktop) {
    max-width: 350px;
  }
}

.copyWrap {
  color: $color-white;
  font-family: $font-secondary;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
  min-height: 40%;

  h1 {
    font-style: italic;
    text-transform: none;
    font-size: 3.75rem;
    @media (min-width: $desktop) {
      font-size: 5.3em;
    }
  }

  @media (min-width: $desktop) {
    font-size: 1.4rem;
  }

  em {
    font-family: $font-header;
    text-transform: none;
    font-size: 1.5em;
    display: inline-block;
    margin-top: -0.5em;
    margin-left: 0.5em;
    vertical-align: middle;
  }
}

.homeCopy {
  min-height: 60%;
  @media (min-width: $desktop) {
    min-height: 50%;
    font-size: 1.4rem;
  }
}

.HeroBtn {
  margin-top: 1em;
  margin: 1em auto 0 auto;
}
