@import '../../base/module';

.Title {
  text-transform: capitalize;
  margin-bottom: 60px;
  padding-top: 0;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
  justify-content: center;

  .project {
    width: 30%;

    @media (max-width: $tablet) {
      width: 43%;
      gap: 40px;
    }
  }
}

.headerText {
  p {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 8px;
    font-weight: 600;
    @media (max-width: $tablet) {
      font-size: 1.25rem;
    }
  }
  h2 {
    font-family: $font-header;
    font-size: 3.125rem;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 400;
    text-transform: none;
    @media (max-width: $tablet) {
      font-size: 1.875rem;
    }
  }
}

.imageWrap {
  position: relative;
  width: 743px;
  max-width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  border: 10px solid $color-white;

  .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
  }

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-transparentwhite, 0.9);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

    .link {
      font-weight: 400;
      font-size: 1.5rem;
      text-decoration-line: none;
      text-transform: uppercase;
      color: $color-rustorange;
      font-family: $font-secondary;
      letter-spacing: 0.13em;
      margin-bottom: 5px;
      @media (max-width: $tablet) {
        font-size: 0.875rem;
        margin-bottom: 0px;
      }
    }

    p {
      font-family: $font-header;
      font-style: italic;
      color: $color-rustorange;
      font-size: 2.25rem;
      @media (max-width: $tablet) {
        font-size: 1.125rem;
      }
    }
  }

  &:hover .overlay {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.copyWrap {
  margin: 20px 0;
  h3 {
    font-size: 1.5rem;
    font-family: $font-secondary;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    margin-top: 0;
    line-height: 1.3em;

    @media (max-width: $desktop) {
      font-size: 1rem;
    }

    @media (max-width: $tablet) {
      font-size: 1.25rem;
    }

    @media (max-width: $mobile) {
      font-size: 0.775rem;
    }
  }
  @media (max-width: $tablet) {
    margin-top: 15px;
  }
}
