@import '../../base/module';

.TextImage span:global(.subheader) {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Montserrat';
  display: block;
}

.TextImage section {
  padding-bottom: 0;
}
.TextImage h1 {
  font-weight: 600;
  font-size: 42px;
}
.FlexWrap {
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 100px;
  margin-bottom: 0;

  button {
    background-color: $color-lightorange;
  }
}

.buttonWrap {
  margin-top: 50px;
  margin-left: 0;
}
.copyWrap {
  max-width: 575px;
  flex: 1 1 400px;

  span {
    padding-bottom: 20px;
  }
}
.imageWrap {
  max-width: 976px;
  flex: 1 1 400px;
  .image {
    border-radius: $bradius;
  }
}
