@import '../../base/module';

.flexWrap {
	display: flex;
}
.media {
	display: flex;
	gap: 40px;
	align-items: center;
	padding: 80px 0 0;

	span {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
	}
	a {
		font-weight: 600;
		font-size: 18px;
		line-height: 28px;
		text-decoration: underline;
		color: $color-rustorange;
	}
}