@import '../../base/module';

.flex {
  display: block;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.testimonials {
  padding-top: 80px;
  overflow: hidden;

  .testimonial-container {
    padding-top: 20px;
    padding-bottom: $v-padding;
    position: relative;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    padding-top: $v-padding;
  }
}

.quotes {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: width(12);

  @media (min-width: $tablet) {
    max-width: width(9);
  }

  @media (min-width: $desktop) {
    max-width: width(9);
  }
}

.quotesHead {
  font-family: 'Commuters Sans';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.62rem;
  letter-spacing: 0.15rem;
  margin-bottom: 50px;
}

.quotesHead p {
  text-transform: uppercase;
}

.quotesHead h2 {
  font-style: italic;
}

.quoteWrap {
  max-width: 0;
  width: 0;
  visibility: hidden;
  position: relative;
  display: none;
  padding: 80px 0 0 0;
  margin-top: 20px;

  p {
    font-weight: 300;
    font-size: 1.3em;
  }

  @media (min-width: $desktop) {
    padding: 60px 140px 0 40px;
    margin-top: 0;

    p {
      font-size: 1.56em;
    }
  }
}

.quoteWrapActive {
  @extend .quoteWrap;
  max-width: 100%;
  width: 100%;
  visibility: visible;
  display: block;
  flex: 1;
}

.author {
  font-weight: 700;
  line-height: 28px;
  font-family: $font-header;
  text-align: center;
  letter-spacing: 0.04em;
  color: $color-black;
  display: block;
  width: max-content;
  padding: 13px 0px;
  background-color: $color-darkgreen;
  border-radius: $bradius;
  margin-top: 15px;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    font-size: 27px;
    margin-top: 60px;
  }
}

.quoteNav {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: width(12);

  @media (min-width: $tablet) {
    order: 2;
  }

  @media (min-width: $desktop) {
    max-width: width(4);
    min-height: 500px;
  }
}

.imageWrap {
  aspect-ratio: 1/1;
  border-radius: 99em;
  position: absolute;
  overflow: hidden;
  display: none;

  .image {
    min-width: 100%;
    min-height: 100%;
  }

  > div {
    height: 350px;
  }

  @media (min-width: $tablet) {
    display: block;
    width: 350px;
    top: -5%;
    right: 6%;
    border: 25px solid $color-grey;
    outline: 25px solid $color-white;
  }
}

.controlWrap {
  display: flex;
  width: 100%;
  height: 49px;
}

.quoteControls {
  background: $color-lightorange;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-size: 1.25em;
  font-family: $font-header;
  border-radius: $bradius 0 0 $bradius;
  line-height: 1em;

  .dotList {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 5px;

    > div {
      width: 15px;
      height: 15px;
      border: 1px solid $color-black;
      border-radius: 99em;

      &.activeDot {
        background: $color-lightgreen;
      }
    }
  }
}

.nextBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-left: -2px;
  border-radius: 0 $bradius $bradius 0;
  cursor: pointer;

  background: darken($color-lightorange, 8%);
  svg {
    font-size: 26px;
  }
}
