@import '../../base/module';

.CenterText {
  padding-bottom: 0;
}

.copy {
  max-width: 720px;
  margin: 100px auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  text-align: center;

  .title {
    margin-bottom: 100px;
  }
  .description {
    margin-bottom: 23px;
    padding-top: 20px;
    font-weight: lighter;
  }
}

.CenterText::before {
  position: absolute;
  height: 500px;
  aspect-ratio: 1/1;
  margin-left: 100%;
  right: 0;
  top: 100px;
  transform: translateX(60%);

  border-radius: 50%;

  border: 40px solid $color-grey;
  outline: 40px solid $color-cream;
  background: $color-cream;
  content: '';
  z-index: -1;
}
