@import '../../base/module';

.CenterText {
  padding: 0;
  overflow: hidden;

  @media (min-width: $desktop) {
    overflow: initial;
  }
}

.copy {
  max-width: width(12);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  text-align: center;

  .title {
    margin-bottom: 100px;
  }
  .description {
    margin-bottom: 23px;
    padding-top: 20px;
    font-weight: lighter;
  }

  @media (min-width: $desktop) {
    max-width: width(6);
  }
}

.center-container {
  padding-top: 50px;
  padding-bottom: 30px;
  min-height: 500px;
  display: flex;
  align-items: center;

  @media (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
