@import '../../base/module';

.footer {
  background: $color-lightorange;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $color-greymd;
  font-family: $font-secondary;
  letter-spacing: 0.1em;
  width: 100%;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.contactColumn,
.logoColumn,
.linksColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contactColumn {
  order: 3;
  @media (min-width: $desktop) {
    order: 0;
  }
}
.logoColumn {
  order: 1;
  @media (min-width: $desktop) {
    order: 0;
  }
}

.linksColumn {
  order: 2;
  @media (min-width: $desktop) {
    order: 0;
  }
}

.friendsText,
.emailText {
  color: $color-black;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}
.inboxText,
.helloText {
  color: $color-black;
  font-family: $font-header;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
}

.emailText,
.helloText {
  margin-left: 10px;
}

.MenuLinks {
  text-align: center;
  ul {
    column-count: 1;
    li {
      line-height: 180%;
    }
  }

  a {
    color: $color-greymd;
    font-size: 0.78em;
    font-weight: 600;
    text-transform: uppercase;
  }

  @media (min-width: $desktop) {
    flex: 1 1 100px;

    ul {
      column-count: 1;
    }
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.legalTitle {
  margin-top: 25px;
}

.MenuLinkTitle,
.legalTitle {
  font-family: $font-header;
  color: $color-black;
  padding-bottom: 5px;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}

.MenuLinkTitle::before {
  content: '\2756';
  margin-right: 5px;
  color: $color-sage;
  font-size: 18px;
}

.info {
  margin-bottom: 30px;
}
.contacts {
  text-align: center;
  .info {
    p {
      font-size: 0.78em;
      line-height: 190%;
      font-weight: 600;
      letter-spacing: 0.13em;
    }
    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }
  @media (min-width: $desktop) {
    text-align: left;
  }
}

.SocialColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;

  @media (min-width: $desktop) {
    order: 3;
    padding-left: 30px;
  }

  .SocialGroup {
    text-align: center;
    .SocialLinks {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}

.subscribe {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  span {
    padding-left: 5px;
  }
}

.bottomBar {
  margin-top: 40px;
  color: $color-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $desktop) {
    flex-direction: row;
  }

  p {
    font-size: 0.78em;
    font-weight: 600;
  }
}

.bottomContainer {
  color: $color-black;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  width: 100%;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 13.5em;
  }
}

.bottomBarInfoWrap {
  width: 100%;
}
