@import '../base/variables';

.cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  height: 100%;
}

.cartButton:hover {
  
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-lightorange;
  box-shadow: 0 0 0 2px white;
  color: black;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  right: 4px;
  min-width: 16px;
  aspect-ratio: 1/1;
  padding: 0 8px;
  box-sizing: border-box;
}

.cartButton[aria-current="page"] {
  
}
