@import '../base/module';

//this is compensating for the space taken up by the top menu
.main {
  padding-top: 60px;
  overflow-x: hidden;

  @media (min-width: $tablet) {
    padding-top: 160px;
  }
}

//tl-edges fix with sticky menu
.tl-wrapper {
  transform: none!important
}