@import '../base/variables';

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 16px;

  @media (max-width: $tablet) {
    font-size: 1em;
  }
}

.tableCell {
  padding-right: 16px;
  padding-bottom: 16px;
}
.variant {
  font-size: 16px;
  text-transform: capitalize;
  padding-bottom: 16px;
}

.remove button {
  font-size: 16px;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  &:hover {
    color: $color-rustorange;
  }
}

.remove button svg {
  margin-right: 8px;
}

.totals {
  text-align: right;
}

.priceColumn,
.totals {
  display: none;
}

@media (min-width: 640px) {
  .priceColumn,
  .totals {
    display: block;
    padding-right: 20px;
  }
}