@import '../../base/module';

.FlexWrap {
    flex-wrap: wrap;
    align-items: flex-start;
}
.productImages {
    max-width: 720px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 14px;
    
   
    .featuredImg {
        grid-column: 1/span 2;
        aspect-ratio: 7/5;
    }
    .featuredImg,.subImg{
        background: #FFFFFF;
        border: 1px solid rgba($color-black, 0.3);

        position: relative;
        
    }
    .subImg {
        aspect-ratio: 6/5;
    }
    .image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
    }
}
.productInfo {
    max-width: 620px;
    h3 {
        margin-bottom: 20px;
    }
    .purchase{
        margin: 22px 0 58px;
        p {
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            margin-bottom: 10px;
        }
        input{
            background: #FFFFFF;
    
            border: 1px solid #061D1B;
            border-radius: 5px;
            padding: 11px 20px;
    
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
    
            margin-bottom: 35px;
        }
    }
    .price {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;

        margin-bottom: 16px;
    }
    .tabHeader {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        text-decoration-line: underline;
        margin-bottom: 30px;
        display: block;
    }
    .overview{
        margin-bottom: 40px;
    }
}