/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
*,
html {
  /* -webkit-font-smoothing: antialiased; */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}

@media print {
  .skip_button {
    display: none;
  }
  @page {
    margin-left: 0.8in;
    margin-right: 0.8in;
    margin-top: 0;
    margin-bottom: 0;
  }
}

::selection {
  background: $color-hl; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-hl; /* Gecko Browsers */
}

body {
  font-family: $font-primary;
  letter-spacing: 0;

  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: $color-black;

  &.modal-open {
    overflow: hidden;
  }
}

section {
  padding: 50px 0;

  @media (min-width: $desktop) {
    padding: 100px 0;
  }
}

button:focus {
  outline: 0;
}

span.BtnPrimary,
span.BtnSecondary {
  display: flex;
}

.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  width: max-content;
  border-radius: 0;
  color: $color-black;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1;
  transition: all 400ms ease-in-out;
  font-family: $font-secondary;
  letter-spacing: 10%;
  font-size: 1.25rem;
  a {
    color: $color-black;
    line-height: 1;
  }
}
.BtnPrimary {
  @extend .Btn;
  border: 2px solid $color-orange;
  background: $color-orange;
  color: $color-white;
  padding: 1.25rem 2.5rem;
  max-width: 100%;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;

  &:hover {
    border-color: $color-black;
  }
}
.BtnSecondary {
  @extend .Btn;
  border: 2px solid $color-black;
  padding: 14px 23px;

  &:hover {
    background: $color-lightorange;
  }
}

.BtnWhite {
  @extend .Btn;
  border: 2px solid $color-black;
  background: white;
  padding: 8px 31px 7px;
}
.subheader {
  text-transform: uppercase;
  color: $color-darkgreen;
  font-weight: 600;
}

.flexWrap,
.FlexWrap {
  display: flex;
  justify-content: space-between;
  gap: $gap;
  flex-wrap: wrap;

  @media (min-width: $desktop) {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;

  @media (min-width: $desktop) {
    justify-content: flex-start;
  }
}

.Container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;

  &.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;

    @media (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }
}

main,
header,
footer {
  margin: 0 auto;
}
