/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
*,
html {
  /* -webkit-font-smoothing: antialiased; */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
::selection {
  background: $color-hl; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-hl; /* Gecko Browsers */
}

body {
  font-family: $font-primary;
  letter-spacing: 0;
  background: $color-cream;
  //This is a fix to make sure the background circles don't cause the page to widen to the right
  overflow-x: hidden;

  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: $color-black;
}

section {
  padding: 100px 0;
}

button:focus {
  outline: 0;
}
span.BtnPrimary,
span.BtnSecondary {
  display: flex;
}
.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: max-content;

  border-radius: 52px;

  color: $color-black;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 1;
  a {
    color: $color-black;
    line-height: 1;
  }
}
.BtnPrimary {
  @extend .Btn;
  border: 2px solid $color-lightorange;
  background: $color-lightorange;
  padding: 14px 23px;
}
.BtnSecondary {
  @extend .Btn;
  border: 2px solid $color-black;
  padding: 14px 23px;
}
.BtnWhite {
  @extend .Btn;
  border: 2px solid $color-black;
  background: white;
  padding: 8px 31px 7px;
}
.subheader {
  text-transform: uppercase;
  color: $color-darkgreen;
  font-weight: 600;
}

.flexWrap,
.FlexWrap {
  display: flex;
  justify-content: space-between;
  gap: $gap;
  flex-wrap: wrap;

  @media (min-width: $desktop) {
    justify-content: center;
  }
}

.btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;

  @media (min-width: $desktop) {
    justify-content: flex-start;
  }
}

.Container {
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;

  &.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }
}

main,
header,
footer {
  margin: 0 auto;
}
