/* Break points */
$full: 1440px;
$desktop: 1200px;
$tablet: 900px;
$mobile: 768px;

$slices: 12;

$width-copy_sm: 450px;
$width-copy_m: 580px;
$width-copy_lg: 860px;

/* Colors */
$color-orange: #F68623;
$color-sage: #A8C3BE;
$color-sagelt: #D7E5E2;
$color-dove: #F5F3F2;
$color-greymd: #87888E;
$color-black: #53555E;
$color-white: #fff;

/* Remaps */
$color-pyellow: $color-dove;
$color-lightorange: $color-dove;
$color-rustorange: $color-orange;
$color-darkgreen: $color-sage;
$color-lightgreen: $color-sagelt;
$color-cream: $color-dove;
$color-grey: $color-dove;


$color-text: $color-black;
$color-text-alt: $color-white;
$color-bg:  $color-white;

$color-hl: $color-pyellow;


/* Defaults */

$bradius: 5px;
$gap: 20px;
$v-padding: 60px;